/* ============================================= */
/*              Colors                   */
/* ============================================= */

$base: #777;

$sec-1: #58e1c1;
$sec-2: #51ddfc;

$ter-1: #927bc1;
$ter-2: #fd7856;
$ter-3: #e4757a;
$ter-4: #63cc82;

/* ============================================= */
/*              Media Queries                   */
/* ============================================= */

$break-m: 768px;
