/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.4s ease;
}
.default {
  @include btn-hover($sec-2);
}

.error {
  @include btn-hover($ter-3);
}

.info {
  @include btn-hover($ter-1);
}

.success {
  @include btn-hover($ter-4);
}

.warning {
  @include btn-hover($ter-2);
}
